---
title: Toxicity Test Results
type: item
item_kind: Collection Item
icon: images/Item_374.png
item_level: '120'
item_link: \aITEM 1414551499 198323687:Toxicity Test Results\/a
categories:
- Census Credits
- Collection Item (Item Type)
- Items
source:
  title: Toxicity Test Results
  url: https://eq2.fandom.com/wiki/Toxicity_Test_Results
  history: https://eq2.fandom.com/wiki/Toxicity_Test_Results?action=history
  revision: 1352079
  revised: '2021-08-19T18:42:08Z'
  license: CC BY-SA 3.0
expansion: Blood of Luclin
expansion_source: level
---

This item is needed for the collection: [[Notes from the Lab]]
