---
title: Map Verification
type: quest
expansion: Desert of Flames
expansion_source: patch
level: '52'
difficulty: Solo
zone: '[[The Court of Truth]]'
timeline: '[[Court of Truth Timeline]]'
journal_category: Maj'Dul
starts: Talk to [[Muyassar Zuhur]] at {{waypoint -6, 0, 0}}
added_in: Desert of Flames
achievement_xp: true
repeatable: true
categories:
- AA Quests
- Desert of Flames Quests
- Faction Quests
- Maj'Dul Quests
- Quests
- Solo Quests
- The Court of Truth (Faction)
- The Court of Truth (Good Faction)
- The Court of Truth AA Quests
- The Court of Truth Quests
- The Court of Truth Solo Quests
- The Court of the Blades (Bad Faction)
- The Court of the Blades (Faction)
- The Court of the Coin (Bad Faction)
- The Court of the Coin (Faction)
- Tier 6 Quests
- Tier 6 Solo Quests
- Unlimited Repeatable Quests
source:
  title: Map Verification
  url: https://eq2.fandom.com/wiki/Map_Verification
  history: https://eq2.fandom.com/wiki/Map_Verification?action=history
  revision: 2025495
  revised: '2026-09-04T18:27:42Z'
  license: CC BY-SA 3.0
---

## Notes

- *This quest is repeatable..*
- You must have +20,000 faction with the Court of Truth to unlock this quest. Once +50,000 faction has been achieved, however, this quest will no longer be available.

## Steps

Visit randomly chosen places of interest for automatic updates:

Possible locations in [[The Sinking Sands]]:

- [[The Bay of Anuk]] {{waypoint -799, -195, -1293}}
- [[Brigand Boneyard]] {{waypoint -1894, -189, -595}}
- [[Caiman Beach]] {{waypoint -1438.90, -233.30, -918.80}}
- [[The Chimney]] {{waypoint -1193.10, -124.95, -672.34}}
- [[Croc Hunter Camp]] {{waypoint -1330, -226, -598}}
- [[Hullcrusher Rock]] {{waypoint -1804, -228, -287}}
- [[Pirate's Perch]] {{waypoint -2082, -233, -156}}
- [[Sandslide Passage]] {{waypoint -1099, -206, -275}}
- [[Shrouded Cove]] {{waypoint -1959, -230, 986}}
- [[The Spectre Tower]] {{waypoint -1252, -210, -111}}
- [[Undercity Arena]] {{waypoint -106, -108, -73}}
- Onerock Isle {{waypoint -2088, -232, 556}}
- Sunken Spire {{waypoint -1026, -107, -885}}

Possible locations in [[The Pillars of Flame]]:

- The Burning Seas - anywhere in the ocean underwater (*Z* axis = -235)
- [[Camp Gar'Nik]] {{waypoint 171, -104, -1139}}
- [[The Giant's Field]] {{waypoint 1364, -113, -763}}
- [[Great Bonsai|The Great Bonsai]] {{waypoint 154, -189, -1654}}
- [[Grueling Pits|The Grueling Pits]] {{waypoint 214, -97, -1033}}
- [[Kyrnok]] {{waypoint 1144, -109, -383}}
- [[The Needle]] {{waypoint 708, -96, -1238}}
- [[The Ortallian Encampment]] {{waypoint -1.22, -96.66, -809.34}}
- [[Prophet's Peak]] {{waypoint 628, -50, -936}}
- [[Remnants of the Lifire]] {{waypoint 35, -86, -680}}
- [[Sabertooth Valley]] {{waypoint 776, -108, -712}}
- [[The Searing Gorge]] {{waypoint 20, -94, -658}}
- [[The Table of Eyes]] {{waypoint -102, -54, -397}}

## Rewards

- At least 3g 23s 29c
- -500 faction with **The Court of the Coin**
- +500 faction with **The Court of Truth**
- -500 faction with **The Court of the Blades**
